@font-face {
  font-family: 'NeueHaasGroteskText';
  src: url('./assets/NHaasGroteskTXPro-75Bd.eot');
  src: url('./assets/NHaasGroteskTXPro-75Bd.eot?#iefix') format('embedded-opentype'),
    url('./assets/NHaasGroteskTXPro-75Bd.woff') format('woff'),
    url('./assets/NHaasGroteskTXPro-75Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGroteskText';
  src: url('./assets/NHaasGroteskTXPro-55Rg.eot');
  src: url('./assets/NHaasGroteskTXPro-55Rg.eot?#iefix') format('embedded-opentype'),
    url('./assets/NHaasGroteskTXPro-55Rg.woff') format('woff'),
    url('./assets/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGroteskText';
  src: url('./assets/NHaasGroteskTXPro-65Md.eot');
  src: url('./assets/NHaasGroteskTXPro-65Md.eot?#iefix') format('embedded-opentype'),
    url('./assets/NHaasGroteskTXPro-65Md.woff') format('woff'),
    url('./assets/NHaasGroteskTXPro-65Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body { 
  font-family: NeueHaasGroteskText, Helvetica, sans-serif; 
  color: $black; 
  line-height: 1.25;
  font-size: 18px;
  letter-spacing: 1px;
}
table{
  font-size: 14px;
  border: none !important; 
  td {
    border: none !important;
  }
}
h1 {
  font-size: 36px;
  font-weight: normal;
}
a, a:active, a:hover, a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}
a:hover {
  font-weight: bold;
}
.clicker {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.center {
  text-align:center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear-both {
  clear: both;
}
.hide-on-desktop {
  display: none;
}
.mb6 {
  margin-bottom:6px;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
}
@media only screen and (max-width : $tablet-max-width) {
  body {
    font-size: 14px;
  }
  a:hover {
    font-weight: normal;
  }
  h1 {
    font-size: 18px;
  }
  .hide-on-desktop {
    display: inherit;
  } 
  .hide-on-tablet {
    display: none;
  }
}

@media only screen and (max-width : $mobile-max-width) {
  .show-on-mobile {
    display: inherit;
  } 
  .hide-on-mobile {
    display: none;
  }
}
