

/* GRID */
/* GRID */
/* GRID */
html, body {
  padding:0;
  margin:0;
}
*, *:after, *:before {
  box-sizing: border-box;
}
.grid{
  width:100%;
  max-width: $max-width;
  min-width:320px;
  margin-left:auto;
  margin-right:auto;
  padding: 0px #{($padding/2) * 3}px;
}
#maxWidth {
  max-width: $max-width - ($padding * 2);
}
#tabletWidth {
  max-width: $tablet-max-width - ($tablet-padding * 2);
}
#mobileWidth {
  max-width: $mobile-max-width - ($mobile-padding * 2);
}
[class*='col-'] {
  float: left;
  width:100%;
  min-height:1px;
  padding:0px #{$padding / 2}px;
  img {
    max-width: 100%;
  }
}
[class*='col-']:last-of-type {

}
[class*='col-']:first-of-type {

}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.col-1-1{
  width:100%;
}
.col-0{
  display: none;
}
@for $i from 1 through 12{
  @for $j from 1 through 12{
    @if ($j < $i) {
      .col-#{$j}-#{$i}{
        $foo : $j / $i;
        $foo : $foo * 100;
        width :  #{$foo+"%"};
      }
    } 
  }
}

/* tablet */
/* tablet */
/* tablet */
@media only screen and (max-width : $tablet-max-width) {
  .grid{
    // padding: 0px #{$tablet-padding / 2}px;
    padding: 0px #{($tablet-padding/2) * 3}px;
  }
  [class*='col-'] {
    padding:0px #{$tablet-padding / 2}px;
  }
  .tab-1-1{
    width:100%;
  }
  .tab-0{
    display: none;
  }
  @for $i from 1 through 12{
    @for $j from 1 through 12{
      @if ($j < $i) {
        .tab-#{$j}-#{$i}{
          $foo : $j / $i;
          $foo : $foo * 100;
          width :  #{$foo+"%"};
        }
      } 
    }
  }
}
@media only screen and (min-width : $tablet-min-width ) and (max-width : $tablet-max-width) and (orientation : portrait) {

}
@media only screen and (min-width : $tablet-min-width ) and (max-width : $tablet-max-width) and (orientation : landscape) {

}

/* mobile */
/* mobile */
/* mobile */
@media only screen and (min-width : 0px) and (max-width : $mobile-max-width) {
  .grid{
    // padding: 0px #{$mobile-padding / 2}px;
    padding: 0px #{($mobile-padding/2) * 3}px;
  }
  [class*='col-'] {
    padding:0px #{$mobile-padding / 2}px;
  }
  .mob-1-1{
    width:100%;
  }
  .mob-0{
    display: none;
  }
  @for $i from 1 through 12{
    @for $j from 1 through 12{
      @if ($j < $i) {
        .mob-#{$j}-#{$i}{
          $foo : $j / $i;
          $foo : $foo * 100;
          width :  #{$foo+"%"};
        }
      } 
    }
  }
}
@media only screen and (min-width : 0px) and (max-width : $mobile-max-width) and (orientation : portrait) {

}
@media only screen and (min-width : 0px) and (max-width : $mobile-max-width) and (orientation : landscape) {

}
